# Ignore daily folders that start with Day
/Day*/
#ignore folders that start with lesson
lesson*/

# 隐藏 API Key
weatherApp/config.js


coverage/
dist/
node_modules/
.idea/
*.iml
npm-debug.log
package-lock.json

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.vscode/
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.claude
