.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.home-container h1 {
  font-size: 2rem;
  margin-bottom: 12px;
}

.home-container p {
  font-size: 1.2rem;
  color: #555;
}
